button {
    border-radius: 8px;
    border-color: gold;
    border-width: 3px;
    color: gold;
    background-color: black;
    font-weight: bold;
    border: solid;
    padding: 6px;
    line-height: 20px;
}
body {
    background-color: black;
    font-family: Tahoma;
    text-align: center;
    color: white;
}
h1 {
    color: white;
}
h2 {
    color: white;
}
marquee {
    border: 2px solid white;
}

.infinity {
    border-radius: 8px;
    border-color: DarkOrchid;
    border-width: 3px;
    color: DarkOrchid;
    background-color: black;
    font-weight: bold;
}

.autobuyersDiv {
    top: 0px;
    height: 300px;
    width: 200px;
    border: 2px solid white;
    overflow-x: hidden;
    overflow-y: scroll;
}

.upgradesDiv {
    top: 0px;
    height: 300px;
    width: 200px;
    border: 2px solid white;
    overflow-x: hidden;
    overflow-y: scroll;
}
.normalDiv {
    border: 2px solid yellow;
    color: yellow;
}
.infinityDiv {
    border: 2px solid purple;
    color: purple;
}
.eternityDiv {
    border: 2px solid cyan;
    color: cyan;
}
.paragonDiv {
    border: 2px solid pink;
    color: pink;
}
